@model CleanMed.Models.Setor
@{
    ViewBag.Current = "Setores";
    Layout = null;
}
    <div class="modal-content">
        <form asp-controller="Setores" asp-action="Create" enctype="multipart/form-data">
            <div class="row">
                <div class="col s12">
                    <div class="form-group">
                        <label for="Descricao">Descrição<span class="error">*</span></label>
                        <input type="text" class="form-control" asp-for="@Model.Descricao" required />
                        <span asp-validation-for="Descricao" class="text-danger error"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="form-group">
                        <label for="TipoSetor">Tipo de Setor<span class="error">*</span></label>
                        <select class="form-control" asp-for="@Model.TipoSetorId" asp-items="@ViewBag.TipoSetorId" required>
                            <option value="" selected disabled>Selecione uma opção</option>
                        </select>
                        <span asp-validation-for="TipoSetor" class="text-danger error"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <div class="form-group right">
                        <a  class="modal-close waves-effect waves-light btn-small red tooltipped " data-position="bottom" data-tooltip="Voltar"><i class="material-icons">arrow_back</i></a>
                        &nbsp;<button type="submit" class="waves-effect waves-light btn-small tooltipped" data-position="bottom" data-tooltip="Salvar"><i class="material-icons">save</i></button>
                    </div>
                </div>
            </div>

        </form>
    </div>        

<script src="~/js/setor.js"></script>
