@model CleanMed.ViewModels.PrestadorViewModel
@{
    ViewBag.Current = "Prestador";
}
                 <div class="card">
                   <div class="card-content">
                       <form asp-controller="Prestadores" asp-action="Edit">
                           <input type="hidden" asp-for="PrestadorId" id="prestadorId" />
                           @if (Model.CepId != 0)
                           {
                               <input type="hidden" name="CEPBD" id="cepid" value="@Model.CepId" />
                           }
                           else
                           {
                               <input type="hidden" name="CEPBD" id="cepid" />
                           }
                           <div class="row">
                               <div class="col m5 s12">
                                   <div class="form-group">
                                       <label>Nome<span class="error">*</span></label>
                                       <input type="text" class="form-control" asp-for="Nome" id="Nome" />
                                       <span asp-validation-for="Nome" class="text-danger error"></span>
                                   </div>
                               </div>
                               <div class="col m2 s12">
                                   <div class="form-group">
                                       <label>Dt.Nascimento <span class="error">*</span></label>
                                       <input type="text" class="form-control" asp-for="DataNascimento" id="DataNascimento" />
                                       <span asp-validation-for="DataNascimento" class="text-danger error"></span>
                                   </div>
                               </div>
                               <div class="col m2 s12">
                                   <div class="form-group">
                                       <label>CPF <span class="error">*</span></label>
                                       <input type="text" class="form-control" asp-for="CPF" id="CPF" />
                                       <span asp-validation-for="CPF" class="text-danger error"></span>
                                   </div>
                               </div>
                               <div class="col m3 s12">
                                   <div class="form-group">
                                       <label for="Sexo">Sexo</label>
                                       <select class="form-control" asp-for="Sexo" asp-items="@ViewBag.SexoId">
                                           <option value="" disabled selected>Selecione uma Opção</option>
                                       </select>
                                       <span asp-validation-for="Sexo" class="text-danger error"></span>
                                   </div>
                               </div>
                           </div>
                           <div class="row">
                               <div class="col m3 s12">
                                   <div class="form-group">
                                       <label for="Telefone">Telefone</label>
                                       <input type="text" asp-for="Telefone" class="form-control" id="Telefone" />
                                       <span asp-validation-for="Telefone" class="text-danger error"></span>
                                   </div>
                               </div>
                               <div class="col m4 s12">
                                   <div class="form-group">
                                       <label for="Email">Email</label>
                                       <input type="email" asp-for="Email" class="form-control" />
                                       <span asp-validation-for="Email" class="text-danger error"></span>
                                   </div>
                               </div>
                               <div class="col m3 s12">
                                   <div class="form-group">
                                       <label asp-for="Status">Status <span class="error">*</span></label>
                                       <select asp-for="Status" asp-items="ViewBag.StatusId" class="form-control">
                                           <option value="" disabled selected>Selecione uma Opção</option>
                                       </select>
                                       <span asp-validation-for="Status" class="text-danger error"></span>
                                   </div>
                               </div>
                           </div>
                           <div class="row">
                               <div class="col m3 s12">
                                   <div class="form-group">
                                       <label for="Descricao">Conselho <span class="error">*</span></label>
                                       <select class="form-control" asp-for="ConselhoId" asp-items="@ViewBag.ConselhoId">
                                           <option value="" selected>Selecione uma Opção</option>
                                       </select>
                                       <span asp-validation-for="ConselhoId" class="text-danger error"></span>
                                   </div>
                               </div>
                               <div class="col m3 s12">
                                   <div class="form-group">
                                       <label for="Descricao">Número CRM <span class="error">*</span></label>
                                       <input type="number" class="form-control" asp-for="NumeroCrm" />
                                       <span asp-validation-for="NumeroCrm" class="text-danger error"></span>
                                   </div>
                               </div>
                               <div class="col m3 s12">
                                   <div class="form-group">
                                       <label for="TipoPrestador">Tipo de Prestador <span class="error">*</span></label>
                                       <select class="form-control" asp-for="TipoPrestadorId" asp-items="@ViewBag.TipoPrestadorId">
                                           <option value="" disabled selected>Selecione uma Opção</option>
                                       </select>
                                       <span asp-validation-for="TipoPrestador" class="text-danger error"></span>
                                   </div>
                               </div>
                           </div>

                           <div class="row">
                               <div class="col m2 s12">
                                   <div class="form-group">
                                       <label for="CEP">Cep <span class="error">*</span></label>
                                       <input id="CEPS" type="text" asp-for="CEP" class="form-control" />
                                       <span asp-validation-for="CEP" class="text-danger error"></span>
                                   </div>
                               </div>
                               <div class="col m6 s12">
                                   <div class="form-group">
                                       <label for="Logradouro">Logradouro</label>
                                       <input type="text" asp-for="Logradouro" class="form-control" id="logradouro" />
                                       <span asp-validation-for="Logradouro" class="text-danger error"></span>
                                   </div>
                               </div>
                               <div class="col m1 s12">
                                   <div class="form-group">
                                       <label for="Numero">Número</label>
                                       <input type="text" asp-for="Numero" class="form-control" id="numero" />
                                       <span asp-validation-for="Numero" class="text-danger error"></span>
                                   </div>
                               </div>
                           </div>
                           <div class="row">
                               <div class="col m6 s12">
                                   <div class="form-group">
                                       <label for="Bairro">Bairro</label>
                                       <input asp-for="Bairro" type="text" class="form-control" id="bairro" />
                                       <span asp-validation-for="Bairro" class="text-danger error"></span>
                                   </div>
                               </div>
                               <div class="col m3 s12">
                                   <div class="form-group">
                                       <label for="Cidade">Cidade</label>
                                       <input asp-for="Cidade" type="text" id="cidade" class="form-control" />
                                       <span asp-validation-for="Cidade" class="text-danger error"></span>
                                   </div>
                               </div>
                               <div class="col m1 s12">
                                   <div class="form-group">
                                       <label for="Estado">Estado</label>
                                       <input asp-for="UF" type="text" class="form-control" id="uf" />
                                       <span asp-validation-for="UF" class="text-danger error"></span>
                                   </div>
                               </div>

                           </div>
                           <div class="row">
                               <div class="col m4 s12">
                                   <div class="form-group">
                                       <label for="Complemento">Complemento</label>
                                       <input asp-for="Complemento" type="text" class="form-control" />
                                       <span asp-validation-for="Complemento" class="text-danger error"></span>
                                   </div>
                               </div>
                           </div>
                           <div class="card-action">
                               <div class="row">
                                   <div class="col s12">
                                       <div class="form-group right">
                                           <a asp-action="Index" class="waves-effect waves-light btn-small red tooltipped " data-position="bottom" data-tooltip="Voltar"><i class="material-icons">arrow_back</i></a>&nbsp;<button type="submit" class="waves-effect waves-light btn-small tooltipped" data-position="bottom" data-tooltip="Salvar"><i class="material-icons">save</i></button>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </form>

                   </div>
               </div>
       
 
