
<div class="modal  fade" data-backdrop="static" id="modalExclusao" >
    <div class="modal-dialog modal-sm" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btnCancela" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>

                </button>
                <h4 class="modal-title"><b>Exclusão</b></h4>
            </div>
            <div class="modal-body">
                <h4>Prosseguir com a exclusão de </h4>
                <p><b class="Nome"></b>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-md btnCancela" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger btn-md btnExcluir">Excluir</button>
            </div>
        </div>
    </div>
</div>