@model CleanMed.Models.TabelaFaturamento
@{
    ViewBag.Current = "Scheduler";
    Layout = null;
}
<div class="modal-content">
    <form asp-controller="TabelaFaturamentos" asp-action="Edit" asp-route-id="@Model.TabelaFaturamentoId">
        <input asp-for="ConvenioId"  type="hidden" />
        <input asp-for="TabelaFaturamentoId" type="hidden">
        <div class="row">
            <div class="col s12">
                <div class="form-group">
                    <label for="Descricao">Descrição<span class="error">*</span></label>
                    <input onchange="descricaoTabelaFaturamentoEdit(this)" type="text" class="form-control" autocomplete="off" asp-for="@Model.Descricao" required />
                    <span asp-validation-for="Descricao" class="text-danger error"></span>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <div class="row">
                <div class="col s12">
                    <div class="form-group right">
                        <a class="modal-close waves-effect waves-light btn-small red tooltipped " data-position="bottom" data-tooltip="Voltar"><i class="material-icons">arrow_back</i></a>
                        &nbsp;<button id="post"  type="submit" class="waves-effect waves-light btn-small tooltipped" data-position="bottom" data-tooltip="Salvar"><i class="material-icons">save</i></button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>

    $('.tooltipped').tooltip();
</script>






