@model CleanMed.Models.Empresa
@{
    Layout = "";
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="exampleModalLabel"><b>Adicionar empresa ao usuário</b></h6>
            <br />
        </div>
        <form asp-controller="Usuarios" asp-action="AddEmpresaUsuario">
            <div class="modal-content">
                <input name="UsuarioId" value="@ViewBag.UsuarioId" type="hidden" />
                <div class="row">
                    <div class="col m12 s12">
                        <div class="form-group">
                            <label>Empresa<span class="error">*</span></label>
                            <select class="form-control" name="EmpresaId" asp-items="@ViewBag.EmpresaId" required>
                                <option selected disabled value="">Selecione uma opção</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group right">
                    <a class="modal-close waves-effect waves-light btn-small red tooltipped " data-position="bottom" data-tooltip="Voltar"><i class="material-icons">arrow_back</i></a>
                    &nbsp;<button  type="submit" class="waves-effect waves-light btn-small tooltipped" data-position="bottom" data-tooltip="Salvar"><i class="material-icons">save</i></button>
                </div>
            </div>

        </form>
    </div>

</div>
<script>
     $('select').formSelect();
</script>