

@{
    ViewData["Title"] = "Paciente";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Current = "Pacientes";
    if (TempData["Mensagem"] != null)
    {

        <script src=" https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <script type="text/javascript">
            //var texto = '@TempData["Mensagem"]';
            //var User = '@TempData["User"]'
          //swal(texto, User, "success");


        M.toast({html: '@TempData["Mensagem"]'});
        </script>
    }
}
@*
<div class="">
    <div class="row">
        <div class="col s12">
            <ul class="tabs tabs-fixed-width tab-demo z-depth-1" style="margin-top:5px;">
                <li data-position="top" data-tooltip="Informações do paciente" class="tab col s3 tooltipped"><a class="active" href="#test1">Informações</a></li>
                <li data-position="top" data-tooltip="Contatos do paciente" class="tab col s3 tooltipped"><a href="#test2">Contatos</a></li>
                <li data-position="top" data-tooltip="Convênios do paciente" class="tab col s3  tooltipped"><a href="#test3">Convênios</a></li>
                <li class="tab col s3 disabled"><a href="#test4">Disabled</a></li>
            </ul>
        </div>
        <div id="test1" class="col s12" style="margin-top:-8px;">@await Component.InvokeAsync("Paciente", new { PacienteId = ViewBag.PacienteId })</div>
        <div id="test2" class="col s12" style="margin-top:-8px;">  @await Component.InvokeAsync("Contato", new { PacienteId = ViewBag.PacienteId })</div>
        <div id="test3" class="col s12" style="margin-top:-8px;"> @await Component.InvokeAsync("ConvenioPaciente", new { PacienteId = ViewBag.PacienteId })</div>
        <div id="test4" class="col s12" style="margin-top:-8px;">Test 4</div>
    </div>
</div>
*@
<div class="row">
    <div class="col s12">
        <ul class="collapsible">
            <li class="active">
                <div class="collapsible-header"><i class="material-icons">info</i>Informações Pessoais</div>
                <div class="collapsible-body">@await Component.InvokeAsync("Paciente", new { PacienteId = ViewBag.PacienteId })</div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">local_phone</i>Contatos</div>
                <div class="collapsible-body">@await Component.InvokeAsync("Contato", new { PacienteId = ViewBag.PacienteId })</div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">card_membership</i>Convênios</div>
                <div class="collapsible-body">@await Component.InvokeAsync("ConvenioPaciente", new { PacienteId = ViewBag.PacienteId })</div>
            </li>
        </ul>
    </div>
</div>





@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script> $('.collapsible').collapsible();</script>
    <script src="~/js/paciente.js"></script>
    <script src="~/js/contato.js"></script>
    <script src="~/js/convenioPaciente.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

}