
@{
    Layout = null;
}

    <form id="motivoCancelamentoForm">
        @Html.AntiForgeryToken()
        <div class="modal-content">
            <div class="card">
                <div class="card-content">
                   
                    <div class="row">
                        <div class="col s12 ">
                            <label>Motivo</label>
                            <select name="MotivoCancelamentoId" class="browser-default" asp-items="@ViewBag.MotivoCancelamento">
                                <option value="" selected disabled></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <a class="waves-effect modal-close waves-light btn-small tooltipped">Cancelar</a> &nbsp;<button type="button" class="waves-effect waves-light btn-small tooltipped red" onclick="motivoCancelamento(@ViewBag.AgendamentoId)">Continuar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--JavaScript at end of body for optimized loading-->
   






