@model CleanMed.ViewModels.AgendasMedicasViewModel
@{
    Layout = null;
}


<form id="myForm">

    @Html.AntiForgeryToken()
    <input type="hidden" readonly id="AgendamentoId" class="form-control" asp-for="AgendamentoId" />

    <div class="modal-content">
        <div class="card">
            <div class="card-header BtnColor">
                <h6 class="center"><span class="card-title center " style="color:white;">Informações do paciente</span></h6>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col m8  s12">
                        <div class="form-group">
                            <label>Paciente</label>
                            <select asp-for="PacienteId" class="select2-paciente browser-default">
                                <option value="" disabled selected></option>
                               
                            </select>
                            <span asp-validation-for="PacienteId" class="error"></span>
                        </div>
                    </div>
                    <div class="col m2 s12">
                        <div class="form-group">
                            <label for="DataNascimento">Dt.Nascimento</label>
                            <input name="DataNascimento" class="form-control" type="text" id="DtNascimento" />
                            <span asp-validation-for="DataNascimento" class="error"></span>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col m3 s12">
                        <div class="form-group">
                            <label for="Telefone">Telefone</label>
                            <input asp-for="Telefone" class="form-control" type="text" id="Telefone" />
                            <span asp-validation-for="Telefone" class="error"></span>
                        </div>
                    </div>
                    <div class="col m3 s12">
                        <div class="form-group">
                            <label for="CPF">CPF</label>
                            <input asp-for="CPF" class="form-control" type="text" id="CPF" />
                            <span asp-validation-for="CPF" class="error"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header BtnColor">
                <h6 class="center"><span class="card-title center " style="color:white;">Informações do agendamento</span></h6>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col m1 s12">
                        <div class="form-group">
                            <label for="AgendaMedicaId">Id</label>
                            <input readonly type="number" class="form-control" asp-for="AgendaMedicaId" />
                            <span asp-validation-for="AgendaMedicaId"></span>
                        </div>
                    </div>

                    <div class="col m6 s12">
                        <div class="form-group">
                            <label for="Prestador">Prestador</label>
                            <input readonly class="form-control textCapitalize" type="text" asp-for="NomePrestador" />
                        </div>
                    </div>

                    @if (Model.RecursoAgendamentoId != null)
                    {
                        <div class="col m6 s12">
                            <div class="form-group">
                                <label for="Recurso">Recurso</label>
                                <input readonly class="form-control textCapitalize" type="text" value="@Model.RecursoNome.ToLower()" />
                            </div>
                        </div>
                    }
                    <div class="col m2 s12">
                        <div class="form-group">
                            <label asp-for="HoraAgenda">Horário</label>
                            <input readonly class="form-control" type="text" asp-for="HoraAgenda" />
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col m6 s12">
                        <div class="form-group">
                            <label asp-for="ItemAgendamentoId">Item de Agendamento</label>
                            <select id="selectItemAgendamentoId" class="form-control" asp-for="ItemAgendamentoId" asp-items="@ViewBag.ItemAgendamentoId">
                                <option value="" selected disabled></option>
                            </select>
                            <span asp-validation-for="ItemAgendamentoId" class="error"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col m6 s12">
                        <div class="form-group">
                            <label asp-for="ConvenioId">Convênio</label>
                            <select asp-for="ConvenioId" id="select2-convenio" class="form-control" asp-items="@ViewBag.ConvenioId">
                                <option value="" selected disabled></option>
                            </select>
                            <span asp-validation-for="ConvenioId" class="error"></span>
                        </div>
                    </div>
                    <div class="col m3 s12">
                        <div class="form-group">
                            <label asp-for="NumeroCartaoConvenio">Nº Cartão convênio</label>
                            <input id="numeroCartao" class="form-control" type="number" asp-for="NumeroCartaoConvenio" />
                            <span asp-validation-for="NumeroCartaoConvenio" class="error"></span>
                        </div>
                    </div>
                    <div class="col m3 s12">
                        <div class="form-group">
                            <label asp-for="CartaoValidade">Dt.Validade</label>
                            <input id="CartaoValidade" class="form-control" type="text" name="CartaoValidade" />
                            <span asp-validation-for="CartaoValidade"></span>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col s12 m8">
                        <div class="form-group">
                            <textarea asp-for="ObservacaoAgendamento" class="materialize-textarea" placeholder="Observação do agendamento" data-length="400"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-light btn-small red tooltipped modal-close " data-position="top" data-tooltip="Cancelar"><i class="material-icons">arrow_back</i></a>
        &nbsp;
        <button type="button" class="waves-effect waves-light btn-small tooltipped " onclick="addAgendamento()" data-position="top" data-tooltip="Salvar"><i class="material-icons">save</i></button>
    </div>

</form>



<script src="~/js/agendamentoPaciente.js"></script>